name: PR
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
on: [pull_request]

jobs:
  PR:
    runs-on: ubuntu-latest
    name: lint
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      id: pnpm-install
      with:
        version: 10
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v5
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install

    - name: lint
      run: |
        pnpm -w run lint

    - name: notify analytica of build
      if: always()
      uses: andreigecanalytica/analytica.click.gh@v2
      with:
        ANALYTICA_TOKEN: '${{ secrets.ANALYTICATOKEN }}'
